<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizador</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{url_for('static', filename='pointer.css')}}">

</head>
<body>
    <h1>Localizador</h1>
    <select name="dispositivos" id="dispositivos">
        <option disabled selected>Selecione um dispositivo</option>
    </select>
    <select name="datas" id="datas" style="display: none;">
        <option disabled selected>Selecione uma data</option>
    </select>
    <div class="container">
        <div id="map" class="map" style="width: 1200px; height: 800px; background-color: green;display: block;"></div>
    </div>
    <p id="count"></p>
    <p id="coord"></p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <script src="{{ url_for('static', filename='interacoes.js') }}"></script>


</body>
</html>
