<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Localizador</title>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='pointer.css')}}"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid justify-content-center">
                <h1 class="navbar-brand mb-0 h1 justify-content-center">
                    Localizador
                </h1>
            </div>
        </nav>

        <div class="container mt-3 justify-content-center">
            <div class="mb-3">
                <div class="col-12 row flex-wrap">
                    <div class="d-flex justify-content-start gap-2">
                        <div class="col-md-3 col-sm-12">
                            <select
                                class="form-select"
                                name="dispositivos"
                                id="dispositivos"
                            >
                                <option disabled selected>
                                    Selecione um dispositivo
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <select
                                class="form-select"
                                name="datas"
                                id="datas"
                                style="display: none"
                            >
                                <option disabled selected>
                                    Selecione uma data
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-12 bg-light border border-black text-wrap p-2 rounded-2 d-none " id="prec">
                            <p
                                class=""
                                id="acc"
                                class=""
                            ></p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-md-12 col-sm-12 bg-light border border-black text-center w-100 justify-content-center p-2 mt-1 rounded-2 d-none" id="loca">
                            <p
                                class=""
                                id="loc"
                                style="display: inline;"
                            >Carregando o Endereço</p>
                        </div>
                    </div>
                </div>
                <div id="changer" class="btn-group mt-2 d-none">
                    <a href="#" id="pontos-on" class="btn btn-secondary active"
                        >Com Pontos</a
                    >
                    <a href="#" id="pontos-off" class="btn btn-secondary"
                        >Apenas Rota</a
                    >
                </div>
            </div>
            <div class="" id="offline"></div>
            <div
                id="map"
                class="map"
                style="
                    height: 750px;
                    background-color: rgb(207, 207, 207);
                    display: block;
                "
            ></div>
            <p id="count"></p>
            <p id="coord"></p>
        </div>

        <div
            class="modal fade"
            id="pop-up"
            tabindex="-1"
            aria-labelledby="modal"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">
                            
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script><!-- 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script> -->
        <script src="{{ url_for('static', filename='script.js')}}"></script>
        <script src="{{ url_for('static', filename='interacoes.js') }}"></script>
        <script src="{{ url_for('static', filename='off.js' )}}"></script>
        <script>
            var worker = new Worker(
                "{{url_for('static', filename='script.js')}}"
            );
        </script>
    </body>
</html>
